<div class="navbar">
  <div class="navbar-top">
    <h1>Peter Demerse Scott</h1>
    <h2>Osoyoos, BC</h2>
  </div>
  <div class="navbar-bottom">
    <ul class="gallery-links">
      <h3>Gallery</h3>
      <li><%= link_to "1977 -1984", seventies_path %></li>
      <li><%= link_to "1985 -2003", eighties_path %></li>
      <li><%= link_to "2004 -2009", aughts_path %></li>
      <li><%= link_to "2010 -2019", teens_path %></li>
      <li><%= link_to "2020 - present", present_path %></li>
    </ul>
    <ul class= "info-section">
      <li> <%= link_to "About", about_path %></li>
      <li> <%= link_to "CV", cv_path %></li>
      <li> <%= link_to "News", news_path %></li>
      <li> <%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</div>
