<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/antler_creek_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/barkerville_mountain_11x14_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Barkerville Mountain"</p>
          <p>11 x 14"</p>
          <p>Sold</p>
        </div>
      </div>


      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/cariboo_spring_lg.jpg", width: 600 %> -->
        <%= image_tag "1977-1984/bowron_lake_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Bowron Lake"</p>
          <p>12 x 14"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/lightning_creek_lg.jpg", width: 600 %> -->
        <%= image_tag "1977-1984/devils_canyon_lg.jpg", height: 500 %>
        <div class="text">
          <p>"Devil's Canyon"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/mt_athabaska_rockies_lg.jpg", width: 600 %> -->
        <%= image_tag "1985-2003/cariboo_mtns_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Cariboo Mountains"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/quesnel_river_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/cascade_mountains_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Cascade Mountains"</p>
          <p>14 x 14"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/summer_in_the_rockies_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/columbia_glacier_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Athabasca Glacier"</p>
          <p>50 x 58"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/windy_joe_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/fools_gold_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Fool's Gold Creek"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

       <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/windy_joe_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/springtime_rockies_11x14_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Springtime in the Rockies"</p>
          <p>14 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

       <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/windy_joe_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/whistler_mtn_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Whistler Mountain"</p>
          <p>12 x 14"</p>
          <p>Sold</p>
        </div>
      </div>

       <div class="mySlides fade">
        <!-- <%= image_tag "1985-2003/windy_joe_lg.jpg", width: 600 %> -->
        <%= image_tag "2004-2009/wolverine_mtn_lg.jpg", height: 500 %>
        <div class="text">
          <p>"Wolverine Mountain"</p>
          <p>24 x 36"</p>
          <p>Sold</p>
        </div>
      </div>


      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
      </div>
    </div>
  </div>
</div>


