<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <%= image_tag "1977-1984/border_peaks_22x26.jpg", height: 500 %>
        <div class="text">
          <p>"Border Peaks"</p>
          <p>24 x 36"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/diamond_head_trail_lg.jpg", height: 500 %>
        <div class="text">
          <p>Mt Seymour</p>
          <p>18 x 24"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/lucky_four_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Lucky Four"</p>
          <p>40 x 58"</p>
          <p>Property of the Quesnel Art Gallery</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/hanging_lake_lg.jpg", height: 500 %>
        <div class="text">
          <p>"Hanging Lake"</p>
          <p>26 x 28"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/trees_on_ford_lg.jpg", height: 500 %>
        <div class="text">
          <p>"Trees on Two Brother's Mountain"</p>
          <p>32 x 36"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/lucky-four.JPG", width: 600 %>
        <div class="text">
          <p>"The Lucky Four, Ts'elxwéyeqw Mountains"</p>
          <p>32 x 42"</p>
          <p>Sold</p>
        </div>
      </div>

      <!-- <div class="mySlides fade">
        <%= image_tag "1977-1984/trees_on_ford_lg.jpg", height: 500 %>
        <div class="text">
          <p>"Elk Mountain Through the Trees"</p>
          <p>24 x 36"</p>
          <p>Sold</p>
        </div>
      </div> -->

      <div class="mySlides fade">
        <%= image_tag "1977-1984/radium-lake.JPG", height: 500 %>
        <div class="text">
          <p>"Radium Lake"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "1977-1984/radium-lake-cabin.JPG", width: 600 %>
        <div class="text">
          <p>"Radium Lake Cabin"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>


      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
      </div>
    </div>
  </div>
</div>

