<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->

      <div class="mySlides fade">
        <%= image_tag "2010-2019/100 Mile Sky 2_16x20.jpg", width: 600 %>
        <div class="text">"100 Mile Sky 2"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/2014_0408_morning rain howe sound crossing.jpg", width: 600 %>
        <div class="text">"Morning Rain - Howe Sound Crossing"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/2015_trail bay islands.jpg", width: 600 %>
        <div class="text">"Trail Bay Islands"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/2017_0312_quesnel lake_12x16_250.JPG", width: 600 %>
        <div class="text">"Quesnel Lake"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/after_the_rain_lg.jpg", width: 600 %>
        <div class="text">"After the Rain"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/approaching_desert_rain12x16.JPG", width: 600 %>
        <div class="text">"Approaching Desert Rain"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/april_lghtnd.jpg", height: 500 %>
        <div class="text">"April"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/April-100 Mile Sky36x24.jpg", width: 600 %>
        <div class="text">"100 Mile Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/borderpeaks_acrylic_24x30_lg.jpg", width: 600 %>
        <div class="text">"Border Peaks"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Break in the Clouds_12x16.jpg", width: 600 %>
        <div class="text">"Break in the Clouds"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/cheamrange_cascades_chwk_wtrclr_11x15_lg.jpg", width: 600 %>
        <div class="text">"Cheamrange Cascades"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/dancing island 20x40_1100.jpg", width: 600 %>
        <div class="text">"Dancing Island"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/deep_creek_18x24.jpg", height: 500 %>
        <div class="text">"Deep Creek"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/desert_sky_9x12.JPG", width: 600 %>
        <div class="text">"Desert Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/east wind_18x18.jpg", width: 600 %>
        <div class="text">"East Wind"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/elk_mtn_through_the_trees_24x36_acrylic.jpg", width: 600 %>
        <div class="text">"Elk Mountain - Through the Trees"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/evergreen_18x24.jpg", height: 500 %>
        <div class="text">"Evergreen"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/fire sky_24x36.jpg", width: 600 %>
        <div class="text">"Fire Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/fire_on_mt_kobau_lg.JPG", width: 600 %>
        <div class="text">"Fire on Mount Kobau"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Fraser Valley Sky.jpg", width: 600 %>
        <div class="text">"Fraser Valley Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/halfmoon_bay_4x28_lg.jpg", width: 600 %>
        <div class="text">"Halfmoon Bay"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/hanging_lake_11x15_lg.jpg", height: 500 %>
        <div class="text">"Hanging Lake"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/hanging_lake_cerulean_18x24_acrylic.jpg", height: 500 %>
        <div class="text">"Hanging Lake (acrylic)"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/here_comes_sun_lg.jpg", width: 600 %>
        <div class="text">"Here Comes the Sun"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/jack_of_clubs_lake_11x15_lg.jpg", width: 600 %>
        <div class="text">"Jack of Clubs Lake"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Lonesome Sky_16x20.jpg", width: 600 %>
        <div class="text">"Lonesome Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/menacing_sky_46x48.jpg", width: 600 %>
        <div class="text">"Menacing Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/morning rain howe sound crossing.jpg", width: 600 %>
        <div class="text">"Morning Rain - Howe Sound Crossing"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Morning Sky12x16.jpg", width: 600 %>
        <div class="text">"Morning Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mt_cheam_harrison_lg.jpg", width: 600 %>
        <div class="text">"Mount Cheam Harrison"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mt_slesse_20x24_lg.JPG", width: 600 %>
        <div class="text">"Mount Slesse"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mtbaker_wtrclr_11x15_lg.jpg", width: 600 %>
        <div class="text">"Mount Baker (watercolour)"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mtcheam_acrylic_24x28_lg.jpg", width: 600 %>
        <div class="text">"Mount Cheam (acrylic)"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mtns_above_chwk_lk_11x15_lg.JPG", width: 600 %>
        <div class="text">"Mountains Above Chilliwack Lake"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/nesaquatch_acrylic_24x30_lg.jpg", width: 600 %>
        <div class="text">"Nesaquatch (acrylic)"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/okanagan_alpine_9x12_lg.JPG", width: 600 %>
        <div class="text">"Okanagan Alpine"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/okanagan_xmas_11x15_lg.jpg", height: 500 %>
        <div class="text">"Okanagan Xmas"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos green_11x14.JPG", width: 600 %>
        <div class="text">"Osoyoos Green"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos lake thunder sky_16x20_400.jpg", width: 600 %>
        <div class="text">"Osoyoos Lake Thunder Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos_sky_11x15.jpg", width: 600 %>
        <div class="text">"Osoyoos Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos_spring_sky_11x15.jpg", width: 600 %>
        <div class="text">"Osoyoos Spring Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos_lake_and_sky 11x15.jpg", width: 600 %>
        <div class="text">"Osoyoos Lake and Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos_morning_sky_11x15.jpg", width: 600 %>
        <div class="text">"Osoyoos Morning Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/quesnel_lake_lg.jpg", width: 600 %>
        <div class="text">"Quesnel Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Rainstorm in the Cariboo_16x20.jpg", width: 600 %>
        <div class="text">"Rainstorm in the Cariboo"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/rise of the phoenix_30x36.jpg", height: 500 %>
        <div class="text">"Rise of the Pheonix"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/sechelt_14x18.jpg", width: 600 %>
        <div class="text">"Sechelt"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/sechelt_sky 11x15.jpg", width: 600 %>
        <div class="text">"Sechelt Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/sechelt_sunrise_11x15.jpg", width: 600 %>
        <div class="text">"Sechelt Sunrise"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/south_wind_11x14.jpg", width: 600 %>
        <div class="text">"South Wind"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/spring storm over osoyoos24x36.jpg", width: 600 %>
        <div class="text">"Spring Storm Over Osoyoos"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/spring_12x16.JPG", height: 500 %>
        <div class="text">"Spring"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Storm over Osoyoos_16x20.jpg", width: 600 %>
        <div class="text">"Storm Over Osoyoos"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/storm_lg.jpg", width: 600 %>
        <div class="text">"Storm"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Summer Sky_18x24.jpg", width: 600 %>
        <div class="text">"Summer Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/summer trees.jpg", width: 600 %>
        <div class="text">"Summer Trees"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/summer_wind_9x12.jpg", width: 600 %>
        <div class="text">"Summer Wind"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/tamihi_mtn_24x28_lg.jpg", width: 600 %>
        <div class="text">"Tamihi Mountain"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/the_old_guardian_aocanvas_6x8_125.jpg", height: 500 %>
        <div class="text">"The Old Guardian"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/turbulent spiral sky_24x30.jpg", width: 600 %>
        <div class="text">"Turbulent Spiral Sky"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/winter sky over osoyoos_lg.jpg", width: 600 %>
        <div class="text">"Winter Sky Over Osoyoos"</div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Winter Sky_20x24.jpg", width: 600 %>
        <div class="text">"Winter Sky"</div>
      </div>


     <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="footer">
  <%= render 'shared/footer' %>
</div>


