<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->

      <div class="mySlides fade">
        <%= image_tag "2010-2019/borderpeaks_acrylic_24x30_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Border Peaks (Sunrise)"</p>
          <p>24 x 36"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/nesaquatch_acrylic_24x30_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Nesaquatsh Valley"</p>
          <p>24 x 36"</p>
          <p>$1200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/mtcheam_acrylic_24x28_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Mount Cheam"</p>
          <p>18 x 26"</p>
          <p>Sold</p></div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/rise of the phoenix_30x36.jpg", height: 500 %>
        <div class="text">
          <p>"Rise of the Phoenix"</p>
          <p>30 x 36"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/turbulent spiral sky_24x30.jpg", width: 600 %>
        <div class="text">
          <p>"Turbulent Spiral Sky"</p>
          <p>36 x 40"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/winter sky over osoyoos_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Winter Sky Over Osoyoos"</p>
          <p>24 x 32"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Winter Sky_20x24.jpg", height: 500 %>
        <div class="text">
          <p>"Rolling Sky"</p>
          <p>20 x 24"</p>
          <p>$600</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/April-100 Mile Sky36x24.jpg", width: 600 %>
        <div class="text">
          <p>"100 Mile Sky Sunset"</p>
          <p>24 x 36"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/deep_creek_18x24.jpg", height: 500 %>
        <div class="text">
          <p>"Deep Creek, Narcosli"</p>
          <p>24 x 36"</p>
          <p>$1200</p></div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/east wind_18x18.jpg", width: 600 %>
        <div class="text">
          <p>"East Wind"</p>
          <p>18x18"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/evergreen_18x24.jpg", height: 500 %>
        <div class="text">
          <p>"Evergreen"</p>
          <p>18 x 24"</p>
          <p>$500</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Fraser Valley Sky.jpg", width: 600 %>
        <div class="text">
          <p>"Fraser Valley Sky"</p>
          <p>28 x 30"</p>
          <p>$1300</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/hanging_lake_cerulean_18x24_acrylic.jpg", height: 500 %>
        <div class="text">
          <p>"Hanging Lake Cerulean"</p>
          <p>18 x 24"</p>
          <p>$500</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Lonesome Sky_16x20.jpg", width: 600 %>
        <div class="text">
          <p>"Lonesome Sky"</p>
          <p>14 x 16"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/menacing_sky_46x48.jpg", width: 600 %>
        <div class="text">
          <p>"Menacing Sky"</p>
          <p>46 x 48"</p>
          <p>Property of the artist</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/osoyoos lake thunder sky_16x20_400.jpg", width: 600 %>
        <div class="text">
          <p>"Osoyoos Lake Thunder Sky"</p>
          <p>16 x 20"</p>
          <p>$500 (framed)</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2010-2019/Rainstorm in the Cariboo_16x20.jpg", width: 600 %>
        <div class="text">
          <p>"Rainstorm in the Cariboo"</p>
          <p>16 x 20"</p>
          <p>Sold</p>
        </div>
      </div>

        <div class="mySlides fade">
        <%= image_tag "2010-2019/storm_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Storm"</p>
          <p>16 x 20"</p>
          <p>$400</p>
        </div>
      </div>

        <div class="mySlides fade">
        <%= image_tag "2010-2019/100 Mile Sky 2_16x20.jpg", width: 600 %>
        <div class="text">
          <p>"100 Mile Sky 2"</p>
          <p>16 x 20"</p>
          <p>Sold</p>
        </div>
      </div>

        <div class="mySlides fade">
        <%= image_tag "2010-2019/the_old_guardian_aocanvas_6x8_125.jpg", height: 500 %>
        <div class="text">
          <p>"Old Sentinels"</p>
          <p>12 x 16"</p>
          <p>Sold</p>
        </div>
      </div>




     <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
        <span class="dot" onclick="currentSlide(11)"></span>
        <span class="dot" onclick="currentSlide(12)"></span>
        <span class="dot" onclick="currentSlide(13)"></span>
        <span class="dot" onclick="currentSlide(14)"></span>
        <span class="dot" onclick="currentSlide(15)"></span>
        <span class="dot" onclick="currentSlide(16)"></span>
        <span class="dot" onclick="currentSlide(17)"></span>
        <span class="dot" onclick="currentSlide(18)"></span>
        <span class="dot" onclick="currentSlide(19)"></span>
        <span class="dot" onclick="currentSlide(20)"></span>
      </div>
    </div>
  </div>
</div>


