<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
       <div class="mySlides fade">
        <p><strong>Chilliwack (Tselxweyeqw) Cascade Mountains</strong></p>
        <p>Watercolour paintings from 2015-2021</p>
        <p>Most of the watercolours in this section are of the Chilliwack area Cascade Mountains of British Columbia where I grew up. I find most of my inspiration in this awe inspiring area. My soul lives in those mountains.</p>
        <p>I am a self taught watercolour painter. I have never taken any lessons however I have been greatly influenced by the famous Canadian painter Toni Onley. He taught at the Fine Art faculty of UBC in the 1970’s and was a friend of my mentor Canadian Artist Gordon Smith. Toni would come over to our painting class and critique our work. I always quizzed him on his watercolour techniques and gleaned as much from him as I could on those occasions. I scrutinized his paintings and “borrowed” some of his style, however I have tried to make my own unique style and specialize in skies as well as the mountain peaks.</p>
        <p>When I arrived in the Cariboo in 1983 to teach high school art and photography I was mesmerized by the beauty of the area. For the next twenty years I stopped painting in oils and concentrated on painting watercolours of the snow, creeks, mountains and spruce forests of the Barkerville/Bowron Lake area.I would strap on my snowshoes and immerse myself in the landscape. I painted from the heart and over two decades created and sold over 100 watercolour paintings. They seemed to strike a chord with the people in the North. All I have left from that period are three paintings. They hang on my walls and if you want to see them you have to come to my house.</p>
      </div>
      <div class="mySlides fade">
        <%= image_tag "2020-present/01_MountSlesse-NightoftheStorm_lg.jpg", width: 600 %>
        <div class="text">
          <p>"Night of the Storm"</p>
          <p>11 x 15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/lady-peak.JPG", width: 600 %>
        <div class="text">
          <p>"Lady Peak"</p>
          <p>11x15"</p>
          <p>$200</p>
        </div>
      </div>

       <div class="mySlides fade">
        <%= image_tag "watercolours/mt-cheam-from-the-north.JPG", width: 600 %>
        <div class="text">
          <p>"Mt. Cheam from the North"</p>
          <p>11x15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/mt-cheam-range.JPG", width: 600 %>
        <div class="text">
          <p>"Mt. Cheam Range, Cascades"</p>
          <p>11x15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/isolation-peak.JPG", width: 600 %>
        <div class="text">
          <p>"Isolation Peak"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/chipmunk-valley.JPG", width: 600 %>
        <div class="text">
          <p>"Chipmunk Valley, Cascades"</p>
          <p>11 x 15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/mt-tomyhoi.JPG", width: 600 %>
        <div class="text">
          <p>"Mt. Tomyhoi"</p>
          <p>11 x 15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/cascade-range.JPG", width: 600 %>
        <div class="text">
          <p>"Cascade Range"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/storm-over-lady-peak.JPG", width: 600 %>
        <div class="text">
          <p>"Storm Over Lady Peak"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/cheam-cascades.JPG", width: 600 %>
        <div class="text">
          <p>"Cheam, Cascades"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/cheam-from-the-northeast.JPG", width: 600 %>
        <div class="text">
          <p>"Cheam from the Northeast"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/mt-welch.JPG", width: 600 %>
        <div class="text">
          <p>"Mt. Welch"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/tselxweyeqw.JPG", width: 600 %>
        <div class="text">
          <p>"Tselxweyeqw"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/tomyhoi-glacier.JPG", width: 600 %>
        <div class="text">
          <p>"Tomyhoi Glacier"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/the-sky-is-crying.JPG", width: 600 %>
        <div class="text">
          <p>"The Sky is Crying"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/elk-mountain.JPG", width: 600 %>
        <div class="text">
          <p>"Elk Mountain"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/above-chilliwack-lake.JPG", width: 600 %>
        <div class="text">
          <p>"Above Chilliwack Lake"</p>
          <p>7 x 10"</p>
          <p>$100</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/sky-over-osoyoos-lake.JPG", width: 600 %>
        <div class="text">
          <p>"Sky Over Osoyoos Lake"</p>
          <p>11 x 15"</p>
          <p>$200</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "watercolours/storm-over-osoyoos.JPG", width: 600 %>
        <div class="text">
          <p>"Storm Over Osoyoos Lake"</p>
          <p>11 x 15"</p>
          <p>$200</p>
        </div>
      </div>



<!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
        <span class="dot" onclick="currentSlide(11)"></span>
        <span class="dot" onclick="currentSlide(12)"></span>
        <span class="dot" onclick="currentSlide(13)"></span>
        <span class="dot" onclick="currentSlide(14)"></span>
        <span class="dot" onclick="currentSlide(15)"></span>
        <span class="dot" onclick="currentSlide(16)"></span>
        <span class="dot" onclick="currentSlide(17)"></span>
        <span class="dot" onclick="currentSlide(18)"></span>
        <span class="dot" onclick="currentSlide(19)"></span>
        <span class="dot" onclick="currentSlide(20)"></span>
      </div>
    </div>
  </div>
</div>

